:root {
	--color-black: #000;
	--color-white: #fff;
	--color-blue-dark: #4180FF;
	--color-blue-light: #4ADBFF;
	--color-purple: #8700B7;
	--color-pink: #FF61C5;
	--color-red: #FF4412;
	--color-yellow: #FFAE00;
}

* {
	box-sizing: border-box;
}

body {
	font-family: degular, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: var(--color-black);
}

.wrap {
	max-width: 64rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

@media screen and (min-width: 64em){
	.wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

header {
	background-color: var(--color-white);
}

header img {
	height: 100%;
}

main {
	padding: 2.5rem 0;
}

@media screen and (min-width: 64em){
	main {
		padding: 5rem 0;
	}
}

main h1, main h2 {
	font-family: degular, sans-serif;
	font-weight: 800;
	font-style: normal;
}

main h1 {
	font-size: 2.5rem;
	line-height: 1;
	text-align: center;
	color: var(--color-yellow);
	position: relative;
}

@media screen and (min-width: 64em){
	main h1 {
		font-size: 3.75rem;
	}
}

main h1 span {
	color: var(--color-blue-light);
}

@media screen and (max-width: 63.9375em){
	main h1 span {
		display: block;
	}
}

@media screen and (min-width: 64em){
	main h1::before {
		content: url(../img/icon-pen-left.svg);
		position: absolute;
		top: 0;
		left: -14px; /* magic number */
		width: 10rem;
	}
	main h1::after {
		content: url(../img/icon-pen-right.svg);
		position: absolute;
		top: 0;
		right: -14px; /* magic number */
		width: 10rem;
	}
}

.students {
	display: grid;
	grid-gap: 2.5rem;
}

@media screen and (min-width: 40em){
	.students {
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (min-width: 64em){
	.students {
		grid-template-columns: repeat(3,1fr);
	}
}

.card a {
	display: block;
	text-decoration: none;
}

.card a:hover {
	cursor: url(../img/icon-cursor.png), auto;
}

.card .image a {
	height: 20rem;
	display: flex;
	overflow: hidden;
	background-color: var(--color-white);
	position: relative;
}

.card:nth-child(odd) .image a {
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.card:nth-child(even) .image a {
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.card a img {
	width: 100%;
	max-width: 15rem;
	margin: auto;
	transition: all .4s;
}

.card a:hover img {
	transform: scale(1.2);
	transition: all .2s;
}

.card h2 {
	margin: .5rem 0 0;
	font-size: 1.25rem;
	color: var(--color-white);
}

.card[data-icon] a:hover {
	cursor: default;
}

.card[data-icon] a:hover img {
	transform: none;
}

.card[data-icon="clapboard"] a {
	background-color: var(--color-yellow) !important;
}

.card[data-icon="brush"] a {
	background-color: var(--color-pink) !important;
}

.card[data-icon="rocket"] a {
	background-color: var(--color-blue-light) !important;
}

.card[data-icon="diamond"] a {
	background-color: var(--color-purple) !important;
}

.card[data-icon="star"] a {
	background-color: var(--color-red) !important;
}

.card[data-icon="2023"] a {
	background-color: var(--color-blue-dark) !important;
}

.card[data-icon="clapboard"] img {
	width: 7.5rem;
}

.card[data-icon="brush"] img {
	height: 10rem;
	width: auto;
}

.card[data-icon="rocket"] img {
	width: 12.5rem;
	position: absolute;
	left: -.25rem;
	top: 30%;
}

.card[data-icon="diamond"] img {
	width: 10rem;
}

.card[data-icon="star"] img {
	width: 10rem;
	position: absolute;
	right:0;
	top: 20%;
}

.card[data-icon="2023"] img {
	width: 10rem;
}

footer {
	background-color: var(--color-purple);
	padding: 1.25rem 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .copy {
	color: var(--color-blue-light);
	margin: 0;
	font-size: 1.25rem;
}

footer .art {
	position: fixed;
	bottom: 1.25rem;
	right: 1.25rem;
	writing-mode: vertical-lr;
	font-size: 1.25rem;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	line-height: 1;
}

footer .art span {
	font-weight: 400;
}

footer .art a {
	text-decoration: none;
	color: var(--color-pink);
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 1.25rem;
	font-size: 1.25rem;
}

footer ul a {
	color: var(--color-black);
}
